In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [7]:
data = pd.read_csv('/Users/tanchik/Downloads/movie_bd_v5.csv')
data.sample()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1234,tt2364841,30000000,62616646,Runner Runner,Ben Affleck|Gemma Arterton|Justin Timberlake|A...,Brad Furman,The house always wins.,When a poor college student who cracks an onli...,91,Crime|Thriller|Drama,20th Century Fox|Double Feature Films|Appian W...,9/24/2013,5.5,2013

In [8]:
display(data.head(5))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

# Предобработка

In [147]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget
display(data.info(0))

# функция для 27 задания

def count_the_pairs ():
    count_ = Counter()
    for cast in data.cast:
        cast_list = cast.split('|')
        cast_list.sort()
        combos = combinations(cast_list, 2)
        count_ += Counter(combos)
    return count_

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

None

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [115]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [116]:
display(data[['budget', 'original_title', 'imdb_id']].sort_values('budget',ascending=False))

         budget                               original_title    imdb_id
723   380000000  Pirates of the Caribbean: On Stranger Tides  tt1298650
1669  300000000     Pirates of the Caribbean: At World's End  tt0449088
14    280000000                      Avengers: Age of Ultron  tt2395427
1014  260000000                                  John Carter  tt0401729
380   260000000                                      Tangled  tt0398286
...         ...                                          ...        ...
885     5000000              National Lampoonâ€™s Van Wilder  tt0283111
892     5000000                     My Big Fat Greek Wedding  tt0259446
1071    5000000                        Paranormal Activity 4  tt2109184
911     5000000                           Jackass: The Movie  tt0322802
1216    5000000                              Spring Breakers  tt2101441

[1889 rows x 3 columns]

ВАРИАНТ 2

In [117]:
display(data[data['budget'] == data['budget'].max()][['budget','original_title','imdb_id']])

        budget                               original_title    imdb_id
723  380000000  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [118]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals(tt0279111)'

In [119]:
display(data[['runtime', 'original_title', 'imdb_id']].sort_values('runtime',ascending=False).head(1))

      runtime     original_title    imdb_id
1157      214  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [120]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
display(data[['runtime', 'original_title', 'imdb_id']].sort_values('runtime',ascending=True))

      runtime                                 original_title    imdb_id
768        63                                Winnie the Pooh  tt1449283
930        72                           Return to Never Land  tt0280030
1097       72                              The Jungle Book 2  tt0283426
1408       76                                        Valiant  tt0361089
1626       76                              Home on the Range  tt0299172
...       ...                                            ...        ...
504       183                                   Pearl Harbor  tt0213149
1336      187                                      King Kong  tt0360717
1736      191                                     Grindhouse  tt0462322
1081      201  The Lord of the Rings: The Return of the King  tt0167260
1157      214                              Gods and Generals  tt0279111

[1889 rows x 3 columns]

# 4. Какова средняя длительность фильмов?

In [121]:
answers['4'] = '109.6585494970884'
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [122]:
answers['5'] = '107.0'
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [123]:
answers['6'] = 'Avatar (tt0499549)'
display(data[data.profit == data.profit.max()][['imdb_id', 'original_title', 'profit']])

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [124]:
answers['7'] = 'The Lone Ranger (tt1210819)'
display(data[data.profit == data.profit.min()][['imdb_id', 'original_title', 'profit']])

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [125]:
answers['8'] = '1478'
display(data[data.revenue > data.budget].imdb_id.nunique())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [126]:
answers['9'] = 'The Dark Knight (tt0468569)'
display(data[data.release_year == 2008][['imdb_id', 'original_title', 'revenue', 'release_year']].sort_values('revenue', ascending=False))

,imdb_id,original_title,revenue,release_year
599,tt0468569,The Dark Knight,1001921825,2008
603,tt0367882,Indiana Jones and the Kingdom of the Crystal S...,786636033,2008
606,tt0441773,Kung Fu Panda,631744560,2008
621,tt0448157,Hancock,624029371,2008
607,tt0795421,Mamma Mia!,609841637,2008
...,...,...,...,...
708,tt0486674,What Just Happened,6673422,2008
673,tt0800241,Transsiberian,5926410,2008
702,tt0844286,The Brothers Bloom,5530764,2008
711,tt0805570,The Midnight Meat Train,3533227,2008
712,tt0490181,Mutant Chronicles,2033165,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [127]:
answers['10'] = 'The Lone Ranger (tt1210819)'
display(data[data.release_year.isin([2012, 2013, 2014])][['imdb_id', 'original_title', 'profit', 'release_year']].sort_values('profit', ascending=True))

        imdb_id                   original_title      profit  release_year
1245  tt1210819                  The Lone Ranger  -165710090          2013
1214  tt0790736                         R.I.P.D.   -68351500          2013
1007  tt1374992                      Upside Down   -51893525          2012
1302  tt0884726  Legends of Oz: Dorothy's Return   -51337973          2013
1235  tt1308729               Bullet to the Head   -45510171          2013
...         ...                              ...         ...           ...
1189  tt1690953                  Despicable Me 2   894761885          2013
974   tt1074638                          Skyfall   908561013          2012
1180  tt1300854                       Iron Man 3  1015439994          2013
1177  tt2294629                           Frozen  1124219009          2013
970   tt0848228                     The Avengers  1299557910          2012

[367 rows x 4 columns]

# 11. Какого жанра фильмов больше всего?

In [128]:
answers['11'] = 'Drama'
data11 = data.copy()
data11['genres'] = data11.genres.str.split('|')
display(data11.explode('genres').genres.value_counts().head(1))

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [129]:
answers['12'] = 'Drama'
data12 = data[data.profit > 0]
data12['genres'] = data12.genres.str.split('|')
display(data12.explode('genres').genres.value_counts().head(1))

<ipython-input-129-9a7dd41c4f47>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data12['genres'] = data12.genres.str.split('|')

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [130]:
answers['13'] = 'Peter Jackson'
display(data.groupby(['director']).revenue.sum().sort_values(ascending=False))

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [131]:
answers['14'] = 'Robert Rodriguez'

# Second attempt

data14 = data.copy()
data14['director'] = data14.director.str.split('|')
data14 = data14[data14.genres.str.contains('Action', na=False)]
display(data14.explode('director').groupby(['director'])['original_title'].count().sort_values(ascending=False))


# First attempt

answers['14'] = 'Robert Rodriguez'
new_data = data[data.genres.str.contains('Action')][['director', 'genres']]
directors = {}
temp = ''
for i in new_data['director']:
    if '|' in i:
        x = i.index('|')
        directors[f'{i[(x + 1)::]}'] = directors.get(f'{i[(x + 1)::]}',0) + 1 
        directors[f'{i[:x]}'] = directors.get(f'{i[:x]}',0) + 1 
    else:
        directors[i] = directors.get(i,0) + 1

for index, value in directors.items():
    if value == max(directors.values()):
        director = index
display(director, max(directors.values()))

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: original_title, Length: 364, dtype: int64

'Robert Rodriguez'

9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [132]:
answers['15'] = 'Chris Hemsworth'

data15 = data.copy()
data15['cast'] = data15.cast.str.split('|')
data15 = data15[data15.release_year == 2012]
data15 = data15.explode('cast').groupby(by=['cast']).revenue.sum().sort_values(ascending=False)
display(data15.head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [133]:
answers['16'] = 'Matt Damon'

average_budget = data.budget.mean()
data16 = data[data.budget > average_budget]
data16['cast'] = data.cast.str.split('|')
display(data16.explode('cast').groupby('cast').budget.count().sort_values(ascending=False))

<ipython-input-133-1e37ce4861b6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data16['cast'] = data.cast.str.split('|')

cast
Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Jennifer Hudson             1
Jennifer Jason Leigh        1
Jennifer Saunders           1
Jennifer Tilly              1
Ã“lafur Darri Ã“lafsson     1
Name: budget, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [134]:
answers['17'] = 'Action'

# My first attempt without knowledge of method explode()

Nicolas_Cage_data = data[data.cast.str.contains('Nicolas Cage')]
genres_data = dict()
for genres in Nicolas_Cage_data['genres']:
    temp_list = genres.split('|')
    for genre in temp_list:
        genres_data[genre] = genres_data.get(genre, 0) + 1

for index, value in genres_data.items():
    if value == max(genres_data.values()):
        genre = index
display(genre, max(genres_data.values()))

#Second attempt 

data17 = data.copy()
data17['genres'] = data.genres.str.split('|')
data17 = data17.explode('genres')
display(data17[data17.cast.str.contains('Nicolas Cage')].genres.value_counts())

'Action'

17

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [135]:
answers['18'] = 'K-19: The Widowmaker'

display(data[data.production_companies.str.contains('Paramount Pictures')][['imdb_id', 'profit', 'original_title']].sort_values(by=['profit'],ascending=True))

        imdb_id     profit                                     original_title
925   tt0267626  -64831034                               K-19: The Widowmaker
1123  tt0300556  -60519261                                           Timeline
1722  tt0435705  -51788987                                               Next
1623  tt0375173  -46604061                                              Alfie
1631  tt0315297  -24805000                                            Twisted
...         ...        ...                                                ...
730   tt1229238  549713380               Mission: Impossible - Ghost Protocol
1738  tt0418279  559709780                                       Transformers
603   tt0367882  601636033  Indiana Jones and the Kingdom of the Crystal S...
317   tt1055369  686297228                Transformers: Revenge of the Fallen
828   tt1399103  928746996                     Transformers: Dark of the Moon

[122 rows x 3 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [136]:
answers['19'] = '2015'

display(data.groupby('release_year').revenue.sum().sort_values(ascending=False))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [137]:
answers['20'] = '2014'

display(data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').profit.sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [138]:
answers['21'] = 'сентябрь'

data21 = data.copy()
data21['release_date'] = data21.release_date.apply(lambda x: x[:x.index('/')])
display(data21.groupby('release_date').original_title.count().sort_values(ascending=False).head(1))

release_date
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [139]:
answers['22'] = '450'

data21[data21.release_date.isin(['6', '7', '8'])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [140]:
answers['23'] = 'Peter Jackson'

data22 = data21.copy()
data22['director'] = data22.director.str.split('|')
data22 = data22.explode('director')
display(data22[data22.release_date.isin(['12', '1', '2'])].director.value_counts())

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Nancy Meyers         4
                    ..
Gus Van Sant         1
Jim Sheridan         1
Wayne Kramer         1
Stephen Kay          1
BjÃ¶rn Stein         1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [141]:
answers['24'] = 'Four By Two Productions '

data24 = data.copy()
data24['production_companies'] = data24.production_companies.str.split("|")
data24 = data24.explode("production_companies")
data24['name_length'] = data24.original_title.apply(lambda x: len(x))
display(data24.groupby('production_companies').name_length.mean().sort_values(ascending=False))

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: name_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [142]:
answers['25'] = 'Midnight Picture Show'

data24['overview_length'] = data24.overview.apply(lambda x: len(x))
display(data24.groupby('production_companies').overview_length.mean().sort_values(ascending=False))

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
London Boulevard                           74.0
Henceforth                                 74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [143]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

rate_99 = np.quantile (data.vote_average, 0.99)
display(data[data.vote_average > rate_99]['original_title'])

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [144]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

display(pd.Series(count_the_pairs()).sort_values(ascending=False).head(2))

Daniel Radcliffe  Emma Watson     8
                  Rupert Grint    8
dtype: int64

# Submission

In [145]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals(tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions ',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [146]:
# и убедиться что ни чего не пропустил)
len(answers)

27